body {
    background: black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #2a1310);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #2d0601); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.titulo {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
}